{% extends 'base.html.twig' %}

{% block title %}Guide des tailles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/informations.css') }}">
{% endblock %}

{% block body %}
<main id="informations" class="faq">
    <div class="container">
        <h1 class="title-primary">Guide des tailles et correspondance</h1>

        <p>
            <font size="+1">Découvrez notre aide Guide des tailles et correspondances pour les vêtements et chaussures.
                Comme vous avez pu le constater, les correspondances de tailles peuvent être un vrai casse-tête. C'est
                pourquoi nous vous avons rédiger un guide des
                tailles et correspondances détaillés.</font>
        </p>

        <h2>Chaussures</h2>

        <div class="q-block">
            <h3>Bébé, enfant, cadet &amp; junior</h3>
            <div style="display: none;">
                <p>
                    Nous vous invitons à visiter notre page <b>Enfant | Guide des tailles et conseils</b> en cliquant <a
                        href="{{ path('informations_sizeGuideChild') }}" target="_blank"
                        rel="noopener noreferrer">ici</a>.
                </p>
            </div>
        </div>

        <div class="q-block">
            <h3>Femme | Correspondances </h3>
            <div style="display: none;">
                <style>
                    .demo {
                        border: 1px solide #000000;
                        border-collapse: effondrer;
                        border-spacing: 0px;
                        padding: 5px;
                    }

                    .demo th {
                        border: 1px solide #000000;
                        padding: 5px;
                        background: #ff5733;
                    }

                    .demo td {
                        border: 1px solide #000000;
                        padding: 5px;
                    }
                </style>
                <table class="demo">
                    <caption></caption>
                    <thead>
                        <tr>
                            <th><b>Pointure FR</b></th>
                            <th><b>Pointure UK</b></th>
                            <th><b>Pointure US</b></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;35</td>
                            <td>&nbsp;2.5</td>
                            <td>&nbsp;4</td>
                        </tr>
                        <tr>
                            <td>&nbsp;35.5</td>
                            <td>&nbsp;3</td>
                            <td>&nbsp;4.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;36</td>
                            <td>&nbsp;3.5</td>
                            <td>&nbsp;5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;36.5</td>
                            <td>&nbsp;4</td>
                            <td>&nbsp;5.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;37</td>
                            <td>&nbsp;4</td>
                            <td>&nbsp;5.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;37.5</td>
                            <td>4.5</td>
                            <td>&nbsp;6</td>
                        </tr>
                        <tr>
                            <td>&nbsp;38</td>
                            <td>&nbsp;5</td>
                            <td>&nbsp;6.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;38.5</td>
                            <td>&nbsp;5.5</td>
                            <td>&nbsp;7</td>
                        </tr>
                        <tr>
                            <td>&nbsp;39</td>
                            <td>5.5</td>
                            <td>&nbsp;7.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;39.5</td>
                            <td>&nbsp;6</td>
                            <td>&nbsp;7.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;40</td>
                            <td>&nbsp;6.5</td>
                            <td>&nbsp;8</td>
                        </tr>
                        <tr>
                            <td>&nbsp;40.5</td>
                            <td>&nbsp;7</td>
                            <td>&nbsp;8.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;41</td>
                            <td>&nbsp;7.5</td>
                            <td>9&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;41.5</td>
                            <td>7.5</td>
                            <td>&nbsp;9.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;42</td>
                            <td>&nbsp;8</td>
                            <td>&nbsp;9.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;42.5</td>
                            <td>&nbsp;8.5</td>
                            <td>&nbsp;10</td>
                        </tr>
                        <tr>
                            <td>&nbsp;43</td>
                            <td>&nbsp;9</td>
                            <td>&nbsp;10.5</td>
                        </tr>
                    </tbody>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="q-block">
            <h3>Homme | Correspondances </h3>
            <div style="display: none;">
                <style>
                    .demo {
                        border: 1px solide #000000;
                        border-collapse: effondrer;
                        border-spacing: 0px;
                        padding: 5px;
                    }

                    .demo th {
                        border: 1px solide #000000;
                        padding: 5px;
                        background: #ff5733;
                    }

                    .demo td {
                        border: 1px solide #000000;
                        padding: 5px;
                    }
                </style>
                <style>
                    .demo {
                        border: 1px solide #000000;
                        border-collapse: effondrer;
                        padding: 5px;
                    }

                    .demo th {
                        border: 1px solide #000000;
                        padding: 5px;
                        background: #ff5733;
                    }

                    .demo td {
                        border: 1px solide #000000;
                        padding: 5px;
                    }
                </style>
                <table class="demo">
                    <caption></caption>
                    <thead>
                        <tr>
                            <th><b>Pointure FR</b></th>
                            <th><b>Pointure UK</b></th>
                            <th><b>Pointure US</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;39</td>
                            <td>&nbsp;5.5</td>
                            <td>&nbsp;6</td>
                        </tr>
                        <tr>
                            <td>&nbsp;39.5</td>
                            <td>&nbsp;6</td>
                            <td>&nbsp;6.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;40</td>
                            <td>&nbsp;6.5</td>
                            <td>&nbsp;7</td>
                        </tr>
                        <tr>
                            <td>&nbsp;40.5</td>
                            <td>&nbsp;7</td>
                            <td>&nbsp;7.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;41</td>
                            <td>&nbsp;7.5</td>
                            <td>&nbsp;8</td>
                        </tr>
                        <tr>
                            <td>&nbsp;41.5</td>
                            <td>&nbsp;7.5</td>
                            <td>&nbsp;8</td>
                        </tr>
                        <tr>
                            <td>&nbsp;42</td>
                            <td>&nbsp;8</td>
                            <td>&nbsp;8.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;42.5</td>
                            <td>&nbsp;8.5</td>
                            <td>&nbsp;9</td>
                        </tr>
                        <tr>
                            <td>&nbsp;43</td>
                            <td>&nbsp;9</td>
                            <td>&nbsp;9.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;43.5</td>
                            <td>&nbsp;9.5</td>
                            <td>&nbsp;9.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;44</td>
                            <td>&nbsp;9.5</td>
                            <td>&nbsp;10</td>
                        </tr>
                        <tr>
                            <td>&nbsp;44.5</td>
                            <td>&nbsp;10</td>
                            <td>&nbsp;10.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;45</td>
                            <td>&nbsp;10.5</td>
                            <td>&nbsp;11</td>
                        </tr>
                        <tr>
                            <td>&nbsp;45.5</td>
                            <td>&nbsp;11</td>
                            <td>&nbsp;11.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;46</td>
                            <td>&nbsp;11</td>
                            <td>&nbsp;11.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;46.5</td>
                            <td>&nbsp;11.5</td>
                            <td>&nbsp;12</td>
                        </tr>
                        <tr>
                            <td>&nbsp;47</td>
                            <td>&nbsp;12</td>
                            <td>&nbsp;12.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;47.5</td>
                            <td>&nbsp;12.5</td>
                            <td>&nbsp;13</td>
                        </tr>
                        <tr>
                            <td>&nbsp;47.5</td>
                            <td>&nbsp;12.5</td>
                            <td>&nbsp;13</td>
                        </tr>
                        <tr>
                            <td>&nbsp;48</td>
                            <td>&nbsp;13</td>
                            <td>&nbsp;13.5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;48.5</td>
                            <td>&nbsp;13.5</td>
                            <td>&nbsp;14</td>
                        </tr>
                        <tr>
                            <td>&nbsp;50</td>
                            <td>&nbsp;15</td>
                            <td>&nbsp;15.5</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <h2>Guide des Jeans &amp; Pantalons</h2>

        <p>
            <font size="+1">
                Nous proposons une large gamme de Jeans &amp; Pantalons avec un large choix de coupes. Pour
                vous aider, nous avons établi un guide des tailles par marque. Si vous souhaitez néanmoins avoir plus
                d’informations, n’hésitez pas à nous contacter
                par téléphone. <a href="{{ path('informations_contact') }}" target="_blank" rel="noopener noreferrer">Nous contacter.</a>
            </font>
        </p>
        <p>
            <font size="+1">
                Si vos mesures correspondent à des tailles différentes, veuillez-vous référer à la taille
                des hanches. Si vos mesures sont entre deux tailles, veuillez prendre la petite taille si vous voulez
                une coupe ajustée, la taille plus grande si vous
                voulez une taille plus large.
            </font>
        </p>

        <div class="q-block">
            <h3>HOMME | GUIDE DES JEANS</h3>
            <div>
                <style>
                    .demo {
                        border: 1px solide #000000;
                        border-collapse: effondrer;
                        padding: 5px;
                    }

                    .demo th {
                        border: 1px solide #000000;
                        padding: 5px;
                        background: #FF5733;
                    }

                    .demo td {
                        border: 1px solide #000000;
                        padding: 5px;
                    }
                </style>
                <table class="demo">
                    <caption></caption>
                    <thead>
                        <tr>
                            <th>INTER</th>
                            <th>XS</th>
                            <th>XS</th>
                            <th>S</th>
                            <th>S</th>
                            <th>S</th>
                            <th>M</th>
                            <th>M</th>
                            <th>M</th>
                            <th>L</th>
                            <th>L</th>
                            <th>XL</th>
                            <th>XL</th>
                            <th>XXL</th>
                            <th>3XL</th>
                            <th>3XL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;FR</td>
                            <td>&nbsp;34/36</td>
                            <td>&nbsp;36</td>
                            <td>&nbsp;36/38</td>
                            <td>38</td>
                            <td>&nbsp;38/40</td>
                            <td>&nbsp;40</td>
                            <td>&nbsp;40/42</td>
                            <td>&nbsp;42</td>
                            <td>&nbsp;42/44</td>
                            <td>44&nbsp;</td>
                            <td>&nbsp;46</td>
                            <td>&nbsp;48</td>
                            <td>&nbsp;50</td>
                            <td>&nbsp;52</td>
                            <td>&nbsp;54</td>
                        </tr>
                        <tr>
                            <td>&nbsp;US</td>
                            <td>&nbsp;25</td>
                            <td>&nbsp;26</td>
                            <td>&nbsp;27</td>
                            <td>&nbsp;28</td>
                            <td>&nbsp;29</td>
                            <td>&nbsp;30</td>
                            <td>&nbsp;31</td>
                            <td>&nbsp;32</td>
                            <td>&nbsp;33</td>
                            <td>&nbsp;34</td>
                            <td>&nbsp;36</td>
                            <td>&nbsp;38</td>
                            <td>40&nbsp;</td>
                            <td>&nbsp;42</td>
                            <td>&nbsp;44</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="q-block">
            <h3>FEMME | GUIDE DES JEANS</h3>
            <div>
                <style>
                    .demo {
                        border: 1px solide #000000;
                        border-collapse: effondrer;
                        padding: 5px;
                    }

                    .demo th {
                        border: 1px solide #000000;
                        padding: 5px;
                        background: #FF5733;
                    }

                    .demo td {
                        border: 1px solide #000000;
                        padding: 5px;
                    }
                </style>
                <table class="demo">
                    <caption></caption>
                    <thead>
                        <tr>
                            <th>INTER</th>
                            <th>XS</th>
                            <th>XS</th>
                            <th>XS</th>
                            <th>S</th>
                            <th>S</th>
                            <th>S</th>
                            <th>M</th>
                            <th>M</th>
                            <th>M</th>
                            <th>L</th>
                            <th>L</th>
                            <th>L</th>
                            <th>XL</th>
                            <th>XXL</th>
                            <th>XXL</th>
                            <th>3XL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;FR</td>
                            <td>&nbsp;32</td>
                            <td>&nbsp;34</td>
                            <td>34</td>
                            <td>36</td>
                            <td>36</td>
                            <td>&nbsp;38</td>
                            <td>&nbsp;38</td>
                            <td>&nbsp;40</td>
                            <td>&nbsp;40</td>
                            <td>42</td>
                            <td>&nbsp;42</td>
                            <td>&nbsp;44</td>
                            <td>&nbsp;46</td>
                            <td>&nbsp;48</td>
                            <td>&nbsp;50</td>
                            <td>52&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;US</td>
                            <td>&nbsp;23</td>
                            <td>&nbsp;24</td>
                            <td>&nbsp;25</td>
                            <td>&nbsp;26</td>
                            <td>&nbsp;27</td>
                            <td>&nbsp;28</td>
                            <td>&nbsp;29</td>
                            <td>&nbsp;30</td>
                            <td>&nbsp;31</td>
                            <td>&nbsp;32</td>
                            <td>&nbsp;33</td>
                            <td>&nbsp;34</td>
                            <td>36</td>
                            <td>&nbsp;38</td>
                            <td>&nbsp;40</td>
                            <td>&nbsp;54</td>
                        </tr>
                    </tbody>
                </table>
            </div>








        </div>

        <div class="q-block">
            <h3>LEVI'S</h3>
            <div class="q-block">
                <h3>Guide des tailles | Jeans &amp; Pantalon</h3>
                <div>
                    <p><b>#01 L’étiquette :</b></p>
                    <ul>
                        <li>« W » correspond à la taille (Waist)</li>
                        <li>« L » correspond à la longueur de l’entrejambe (Lenght).</li>
                    </ul>
                    <p><b>#02 La taille W : </b></p>
                    <p>Habituellement, pour trouver votre taille EUR, il suffit de rajouter 10 à la taille US. Ex : W26
                        = 36</p>
                </div>

                <h3>FEMME | TAILLES</h3>
                <div>
                    <style>
                        .demo {
                            border: 1px solide #000000;
                            border-collapse: effondrer;
                            padding: 5px;
                        }

                        .demo th {
                            border: 1px solide #000000;
                            padding: 5px;
                            background: #ff5733;
                        }

                        .demo td {
                            border: 1px solide #000000;
                            padding: 5px;
                        }
                    </style>
                    <table class="demo">
                        <thead>
                            <tr>
                                <th><b>Taille FR</b></th>
                                <th><b>Taille US</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>&nbsp;30</td>
                                <td>20&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;30/32</td>
                                <td>21&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;32</td>
                                <td>22&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;32/34</td>
                                <td>23&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;34</td>
                                <td>24&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;34/36</td>
                                <td>25&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;36</td>
                                <td>26&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;36/38</td>
                                <td>27&nbsp;</td>
                            </tr>
                            <tr>
                                <td>38</td>
                                <td>28&nbsp;</td>
                            </tr>
                            <tr>
                                <td>38/40</td>
                                <td>29&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;40</td>
                                <td>30&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;40/42</td>
                                <td>31&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;42</td>
                                <td>32&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;42/44</td>
                                <td>33&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;44</td>
                                <td>34&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;44/46</td>
                                <td>35&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;46</td>
                                <td>36&nbsp;</td>
                            </tr>
                        </tbody>
                        <tbody>
                        </tbody>
                    </table>

                    <div>
                        <p><b>#2 La longueur</b></p>
                    </div>

                    <style>
                        .demo {
                            border: 1px solide #000000;
                            border-collapse: effondrer;
                            padding: 5px;
                        }

                        .demo th {
                            border: 1px solide #000000;
                            padding: 5px;
                            background: #ff5733;
                        }

                        .demo td {
                            border: 1px solide #000000;
                            padding: 5px;
                        }
                    </style>
                    <table class="demo">
                        <caption><br></caption>
                        <thead>
                            <tr>
                                <th><b>Taille (cm)</b></th>
                                <th><b>Longueur</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>&nbsp;160 ou moins</td>
                                <td>&nbsp;L30</td>
                            </tr>
                            <tr>
                                <td>&nbsp;160-170</td>
                                <td>&nbsp;L32</td>
                            </tr>
                            <tr>
                                <td>Plus de 170</td>
                                <td>&nbsp;L34</td>
                            </tr>
                        </tbody>
                    </table>
                </div>





                <h3>HOMME | TAILLES</h3>
                <div>
                    <style>
                        .demo {
                            border: 1px solide #000000;
                            border-collapse: effondrer;
                            padding: 5px;
                        }

                        .demo th {
                            border: 1px solide #000000;
                            padding: 5px;
                            background: #ff5733;
                        }

                        .demo td {
                            border: 1px solide #000000;
                            padding: 5px;
                        }
                    </style>
                    <table class="demo">
                        <caption><br></caption>
                        <thead>
                            <tr>
                                <th><b>Taille FR</b></th>
                                <th><b>Taille US</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>&nbsp;30</td>
                                <td>&nbsp;20</td>
                            </tr>
                            <tr>
                                <td>&nbsp;30/32</td>
                                <td>&nbsp;21</td>
                            </tr>
                            <tr>
                                <td>&nbsp;32</td>
                                <td>&nbsp;22</td>
                            </tr>
                            <tr>
                                <td>&nbsp;32/34</td>
                                <td>&nbsp;23</td>
                            </tr>
                            <tr>
                                <td>&nbsp;34</td>
                                <td>&nbsp;24</td>
                            </tr>
                            <tr>
                                <td>&nbsp;34/36</td>
                                <td>&nbsp;25</td>
                            </tr>
                            <tr>
                                <td>&nbsp;36</td>
                                <td>&nbsp;26</td>
                            </tr>
                            <tr>
                                <td>&nbsp;36/38</td>
                                <td>&nbsp;27</td>
                            </tr>
                            <tr>
                                <td>&nbsp;38</td>
                                <td>&nbsp;28</td>
                            </tr>
                            <tr>
                                <td>&nbsp;38/40</td>
                                <td>&nbsp;29</td>
                            </tr>
                            <tr>
                                <td>&nbsp;40</td>
                                <td>&nbsp;30</td>
                            </tr>
                            <tr>
                                <td>&nbsp;40/42</td>
                                <td>&nbsp;31</td>
                            </tr>
                            <tr>
                                <td>&nbsp;42</td>
                                <td>32&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;42/44</td>
                                <td>&nbsp;33</td>
                            </tr>
                            <tr>
                                <td>&nbsp;44</td>
                                <td>&nbsp;34</td>
                            </tr>
                            <tr>
                                <td>&nbsp;44/46</td>
                                <td>&nbsp;35</td>
                            </tr>
                            <tr>
                                <td>&nbsp;46</td>
                                <td>&nbsp;36</td>
                            </tr>
                            <tr>
                                <td>&nbsp;46/48</td>
                                <td>&nbsp;37</td>
                            </tr>
                            <tr>
                                <td>&nbsp;48</td>
                                <td>&nbsp;38</td>
                            </tr>
                            <tr>
                                <td>&nbsp;48/50</td>
                                <td>&nbsp;39</td>
                            </tr>
                            <tr>
                                <td>&nbsp;50</td>
                                <td>&nbsp;40</td>
                            </tr>
                        </tbody>
                        <tbody>
                        </tbody>
                    </table>

                    <div>
                        <p><b>#2 La longueur</b></p>
                    </div>
                    <style>
                        .demo {
                            border: 1px solide #000000;
                            border-collapse: effondrer;
                            padding: 5px;
                        }

                        .demo th {
                            border: 1px solide #000000;
                            padding: 5px;
                            background: #ff5733;
                        }

                        .demo td {
                            border: 1px solide #000000;
                            padding: 5px;
                        }
                    </style>
                    <table class="demo">
                        <caption><br></caption>
                        <thead>
                            <tr>
                                <th><b>Longueur jambe total en cm</b></th>
                                <th><b>Longueur</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>&nbsp;108/110</td>
                                <td>&nbsp;L30</td>
                            </tr>
                            <tr>
                                <td>&nbsp;112/114</td>
                                <td>&nbsp;L32</td>
                            </tr>
                            <tr>
                                <td>116/118</td>
                                <td>&nbsp;L34</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&gt;118</td>
                                <td>&nbsp;L36</td>
                            </tr>
                        </tbody>
                        <tbody>
                        </tbody>
                    </table>
                </div>


                <h3>COUPES</h3>
                <div>
                    <p><b>1. JEAN SKINNY</b></p>

                    <p>
                    </p>
                    <ul>
                        <li><b>510™ SKINNY</b></li>
                    </ul>
                    <p></p>

                    <p>
                        Élégant. Moderne. Ce jean près du corps se porte sur la taille.
                    </p>

                    <p><b>2. JEAN SLIM</b></p>

                    <p>
                    </p>
                    <ul>
                        <li><b>511™ SLIM</b></li>
                    </ul>
                    <p></p>

                    <p>
                        Le 511™ Slim présente une taille mi-haute classique.
                    </p>

                    <p><b>3. JEANS STRAIGHT</b></p>

                    <p>
                    </p>
                    <ul>
                        <li><b>501® ORIGINAL</b></li>
                    </ul>
                    <p></p>

                    <p>
                        Ce jean est la silhouette emblématique de la marque. Il se porte haut sur la taille et présente
                        une jambe droite traditionnelle.
                    </p>

                    <p>
                    </p>
                    <ul>
                        <li><b>501® '93 STRAIGHT</b></li>
                    </ul>
                    <p></p>

                    <p>
                        Cette coupe est droite et s’inspire de la tendance vintage.
                    </p>

                    <p>
                    </p>
                    <ul>
                        <li><b>514™ STRAIGHT</b></li>
                    </ul>
                    <p></p>

                    <p>
                        Un indémodable, il se porte bas sur la taille et présente une coupe regular au niveau des
                        cuisses.
                    </p>


                    <p><b>4. JEANS FUSELÉS</b></p>
                    <p>
                    </p>
                    <ul>
                        <li><b>512™ SLIM TAPER</b></li>
                    </ul>
                    <p></p>

                    <p>
                        Similaire au célèbre 511™ Slim, il se différencie par une jambe plus étroite. Il se porte en
                        dessous de la taille et présente une coupe étroite au niveau du bassin et des cuisses.
                    </p>

                    <p>
                    </p>
                    <ul>
                        <li><b>502™ TAPER</b></li>
                    </ul>
                    <p></p>

                    <p>
                        Il se porte bas sur la taille et présente une coupe regular au niveau du bassin et des cuisses.
                    </p>

                    <p><b>5. JEANS BOOTCUT</b></p>
                    <p>
                    </p>
                    <ul>
                        <li><b>527™ SLIM BOOTCUT</b></li>
                    </ul>
                    <p></p>

                    <p>
                        Taille mi-haute avec une jambe légèrement évasée vers le bas.
                    </p>

                </div>

            </div>
        </div>

        <div class="q-block">
            <h3>LEE COOPER | COUPES &amp; GUIDE DES TAILLES</h3>
            <div class="q-block">
                <h3>Jeans | HOMME</h3>
                <div class="block">
                    <img src="{{ asset('images/informations/Guide-taille-jeans-LEE-COOPER-HOMME.png') }}"
                        alt="Lee cooper HOMME">
                </div>
                <h3>Jeans | FEMME</h3>
                <div class="block">
                    <img src="{{ asset('images/informations/Guide-taille-jeans-LEE-COOPER-FEMME.png') }}"
                        alt="Lee cooper FEMME">
                </div>
            </div>
        </div>

        <div class="q-block">
            <h3>KAPORAL</h3>
            <div class="q-block">
                <h3>COUPES</h3>
                <div>
                    <p><b>1. Slim Kaporal </b></p>
                    <p>
                    </p>
                    <ul>
                        <li>Coupe ajustée et près du corps</li>
                        <li>Taille basse</li>
                        <li>Serré aux cuisses</li>
                        <li>Bas de jambes légèrement serré aux chevilles</li>
                    </ul>
                    <p></p>

                    <p><b>2. Regular Kaporal</b></p>
                    <p>
                    </p>
                    <ul>
                        <li>Coupe droite de la taille jusqu’aux chevilles</li>
                    </ul>
                    <p></p>

                    <p><b>3. LOOSE KAPORAL</b></p>
                    <p>
                    </p>
                    <ul>
                        <li>Epouse le bas de la hanche</li>
                        <li>Large de la taille jusqu’aux chevilles</li>
                    </ul>
                    <p></p>

                    <p><b>4. Bootcut Kaporal </b></p>
                    <p>
                    </p>
                    <ul>
                        <li>Droit aux cuisses</li>
                        <li>Large à partir des genoux </li>
                    </ul>
                    <p></p>

                    <p><b>5. Carrot Kaporal </b></p>
                    <p>
                    </p>
                    <ul>
                        <li>Taille posée sur les hanches</li>
                        <li>Hanches amples</li>
                        <li>Entrejambe descendue</li>
                        <li>Bas de jambe étroit</li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="q-block">
            <h3>LE TEMPS DES CERISES (LTC)</h3>
            <div class="q-block">
                <h3>Guide des tailles | Femme</h3>
                <div class="block">
                    <p>Voir onglet FEMME | GUIDE JEANS</p>
                </div>

                <h3>Guide des tailles | Homme</h3>
                <div class="block">
                    <p>Voir onglet HOMME| GUIDE JEANS</p>
                </div>

                <h3>Coupes| FEMME</h3>
                <div>
                    <img src="{{ asset('images/informations/LTC_fit_femme-fr.jpg') }}" alt="LTC fit femme">
                    <p></p>
                    <ul>
                        <li><b>POWER : Le jean sculptant</b></li>
                    </ul>
                    <p></p>

                    <p>
                        La gamme POWER embrasse les silhouettes, affine les formes et redessine les corps. Dans la
                        lignée des jeans pour femme, le tissu est de plus en plus extensible, résistant et confortable.
                        LTC innove et propose un nouveau jean en Tri-Blend Technology. Cette
                        nouvelle génération de toile est fabriquée à partir d'un fil LYCRA élasthanne à 3 brins qui
                        offre une élasticité et une résistance élevées. Coupe ajustée et près du corps.
                    </p>

                    <img src="{{ asset('images/informations/LTC_COUPE POWER.jpg') }}" alt="LTC Coupe POWER">

                    <p></p>
                    <ul>
                        <li><b>PULP : Le jean push-up</b></li>
                    </ul>
                    <p></p>

                    <p>
                        La coupe PULP a pour particularité de bomber l’arrondi des fesses. Confort extrême, effet
                        liftant, tissu intelligent, choisissez le PULP pour une silhouette parfaite.
                    </p>
                </div>

                <h3>Coupes| HOMME</h3>
                <div>
                    <img src="{{ asset('images/informations/LTC_fit_homme_fr.jpg') }}" alt="LTC fit homme">
                    <p><b>Slim Confort 700/11</b></p>
                    <p>
                    </p>
                    <ul>
                        <li>Ceinture 3D</li>
                        <li>S'adapte à la morphologie</li>
                        <li>Affine la silhouette</li>
                        <li>Must have</li>
                    </ul>
                    <p></p>


                    <p><b>Power skinny</b></p>
                    <p>
                    </p>
                    <ul>
                        <li>Ajusté</li>
                        <li>Le plus rock</li>
                        <li>Denim confort et indéformable</li>
                        <li>Epouse parfaitement la silhouette</li>
                    </ul>
                    <p></p>


                    <p><b>Blue jogg | Slim confort</b></p>
                    <p>
                    </p>
                    <ul>
                        <li>Dans un jeans comme dans un jogg</li>
                        <li>Maximum de confort</li>
                        <li>Liberté de mouvement</li>
                        <li>Simple et aspect denim</li>
                    </ul>
                    <p></p>


                    <p><b>Ajusted 600/17</b></p>
                    <p>
                    </p>
                    <ul>
                        <li>Coupe regular</li>
                        <li>Bas de jambe resseré</li>
                        <li>Look branché</li>
                    </ul>
                    <p></p>



                    <p><b>Regular confort 800/12</b></p>
                    <p>
                    </p>
                    <ul>
                        <li>Coupe droite</li>
                        <li>Ceinture 3D</li>
                        <li>Authentique</li>
                    </ul>
                    <p></p>



                    <p><b>Tapered 900/15</b></p>
                    <p>
                    </p>
                    <ul>
                        <li>Décontracté au niveau des hanches</li>
                        <li>Ajusté aux mollets</li>
                        <li>Coupe fuselée twistée à la jambe</li>
                        <li>Denim stretch confortable</li>
                        <li>Look branché</li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="q-block">
            <h3>SALSA</h3>
            <div class="q-block">
                <style>
                    .demo {
                        border: 1px solide #000000;
                        border-collapse: effondrer;
                        padding: 5px;
                    }

                    .demo th {
                        border: 1px solide #000000;
                        padding: 5px;
                        background: #ff5733;
                    }

                    .demo td {
                        border: 1px solide #000000;
                        padding: 5px;
                    }
                </style>
                <table class="demo">
                    <caption><br></caption>
                    <thead>
                        <tr>
                            <th>TAILLE SALSA</th>
                            <th>24</th>
                            <th>25</th>
                            <th>26</th>
                            <th>27</th>
                            <th>28</th>
                            <th>29</th>
                            <th>30</th>
                            <th>31</th>
                            <th>32</th>
                            <th>33</th>
                            <th>34</th>
                            <th>35</th>
                            <th>36</th>
                            <th>37</th>
                            <th>38</th>
                            <th>39</th>
                            <th>40</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;US</td>
                            <td>&nbsp;22</td>
                            <td>&nbsp;23</td>
                            <td>24</td>
                            <td>25&nbsp;</td>
                            <td>26&nbsp;</td>
                            <td>27&nbsp;</td>
                            <td>28&nbsp;</td>
                            <td>29&nbsp;</td>
                            <td>30&nbsp;</td>
                            <td>31&nbsp;</td>
                            <td>32&nbsp;</td>
                            <td>33&nbsp;</td>
                            <td>34&nbsp;</td>
                            <td>35&nbsp;</td>
                            <td>36&nbsp;</td>
                            <td>37&nbsp;</td>
                            <td>38&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;FR</td>
                            <td>&nbsp;32</td>
                            <td>32/34&nbsp;</td>
                            <td>34&nbsp;</td>
                            <td>34/36&nbsp;</td>
                            <td>36&nbsp;</td>
                            <td>36/38&nbsp;</td>
                            <td>38&nbsp;</td>
                            <td>38/40&nbsp;</td>
                            <td>40&nbsp;</td>
                            <td>40/42&nbsp;</td>
                            <td>42&nbsp;</td>
                            <td>42/44&nbsp;</td>
                            <td>44&nbsp;</td>
                            <td>44/46&nbsp;</td>
                            <td>46&nbsp;</td>
                            <td>46/48&nbsp;</td>
                            <td>48&nbsp;</td>
                        </tr>
                    </tbody>
                </table>




            </div>
        </div>

        <div class="q-block">
            <h3>PLEASE</h3>
            <div class="q-block">
                <style>
                    .demo {
                        border: 1px solide #000000;
                        border-collapse: effondrer;
                        padding: 5px;
                    }

                    .demo th {
                        border: 1px solide #000000;
                        padding: 5px;
                        background: #ff5733;
                    }

                    .demo td {
                        border: 1px solide #000000;
                        padding: 5px;
                    }
                </style>
                <table class="demo">
                    <caption><br></caption>
                    <thead>
                        <tr>
                            <th><b>TAILLE PLEASE<b></b></b>
                            </th>
                            <th>3XS</th>
                            <th><br></th>
                            <th>2XS</th>
                            <th><br></th>
                            <th>XS</th>
                            <th><br></th>
                            <th>S</th>
                            <th><br></th>
                            <th>M</th>
                            <th><br></th>
                            <th>L</th>
                            <th><br></th>
                            <th>XL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;US</td>
                            <td>&nbsp;22</td>
                            <td>&nbsp;23</td>
                            <td>24</td>
                            <td>25&nbsp;</td>
                            <td>26&nbsp;</td>
                            <td>27&nbsp;</td>
                            <td>28&nbsp;</td>
                            <td>29&nbsp;</td>
                            <td>30&nbsp;</td>
                            <td>31&nbsp;</td>
                            <td>32&nbsp;</td>
                            <td>33&nbsp;</td>
                            <td>34&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;FR</td>
                            <td>&nbsp;32</td>
                            <td>32/34&nbsp;</td>
                            <td>34&nbsp;</td>
                            <td>34/36&nbsp;</td>
                            <td>36&nbsp;</td>
                            <td>36/38&nbsp;</td>
                            <td>38&nbsp;</td>
                            <td>38/40&nbsp;</td>
                            <td>40&nbsp;</td>
                            <td>40/42&nbsp;</td>
                            <td>42&nbsp;</td>
                            <td>42/44&nbsp;</td>
                            <td>44&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h2>Guide des jupes et shorts</h2>

        <div class="q-block">
            <h3>KAPORAL &amp; LE TEMPS DES CERISES</h3>
            <div>
                <style>
                    .demo {
                        border: 1px solide #000000;
                        border-collapse: effondrer;
                        padding: 5px;
                    }

                    .demo th {
                        border: 1px solide #000000;
                        padding: 5px;
                        background: #ff5733;
                    }

                    .demo td {
                        border: 1px solide #000000;
                        padding: 5px;
                    }
                </style>
                <table class="demo">
                    <caption><br></caption>
                    <thead>
                        <tr>
                            <th>GARCIA &amp; LTC</th>
                            <th>XS</th>
                            <th>S</th>
                            <th>M</th>
                            <th>L</th>
                            <th>XL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;US</td>
                            <td>&nbsp;25</td>
                            <td>&nbsp;27</td>
                            <td>29</td>
                            <td>31&nbsp;</td>
                            <td>33&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;FR</td>
                            <td>&nbsp;34/36</td>
                            <td>36/38</td>
                            <td>38/40</td>
                            <td>40/42</td>
                            <td>42/44</td>
                        </tr>
                    </tbody>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <h2>Guide des hauts, tops</h2>

        <div class="q-block">
            <h3>HAUTS &amp; TOPS</h3>
            <div class="q-block">
                <h3>FEMME</h3>
                <div class="block">
                    <img src="{{ asset('images/informations/Guide des tailles HAUTS TOPS FEMME.png') }}" alt="HAUTS FEMME">
                    <p><b>Les tailles EU concernent les marques suivantes : </b></p>
                    <p>
                    </p>
                    <ul>
                        <li>StreetOne</li>
                        <li>B young</li>
                        <li>Anna Montana</li>
                        <li>Zerres</li>
                    </ul>
                    <p></p>

                    <p><b>Les tailles UK concernent les marques suivantes : </b></p>
                    <p>
                    </p>
                    <ul>
                        <li>Superdry | Femme</li>
                    </ul>
                    <p></p>
                </div>
                
                <h3>HOMME</h3>

                <div class="block">
                    <img src="{{ asset('images/informations/Guide des tailles HAUTS TOPS HOMME.png') }}" alt="HAUTS HOMME">
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $('.q-block>h3').click(function() {
        $(this).next('div').slideToggle('100', 'swing')
    })
</script>
{% endblock %}