<footer>	
	<div class="reinsurance">
		<div class="content">
			<p>Suivez-nous sur les réseaux</p>
			<a href="https://www.facebook.com/carredelamodeofficiel" target="_blank" rel="noopener noreferrer" title="Facebook"><i class="fab fa-facebook-f"></i></a>
			<a href="https://www.instagram.com/carredelamode/" target="_blank" rel="noopener noreferrer" title="Instagram"><i class="fab fa-instagram"></i></a>
		</div>
	</div>

	<div class="container">
		<div class="grid-noBottom">
            <div class="col-3_md-4_xs-12">
                <p class="title">Notre entreprise</p>
                <ul>
                    <li><a href="{{ path('informations_who') }}">Qui sommes-nous</a></li>
                    <li><a href="{{ path('informations_weMarkets') }}">Nos boutiques</a></li>
                    <li><a href="{{ path('informations_weServices') }}">Nos services</a></li>
                    <li><a href="{{ path('informations_ourBlog') }}">Notre blog</a></li>
                </ul>
            </div>
        
            <div class="col-3_md-4_xs-12">
                <p class="title">Informations</p>
                <ul>
                    <li><a href="{{ path('informations_cgv') }}">Conditions générales de vente</a></li>
                    <li><a href="{{ path('informations_mLegales') }}">Mentions légales</a></li>
                    <li><a style="cursor: pointer;" id="open_preferences_center">Gestions des cookies</a></li>
                </ul>
            </div>
        
            <div class="col-3_md-4_xs-12">
                <p class="title">Mon compte</p>
                <ul>
                    <li><a href="{{ path('informations_who') }}">Créer un compte</a></li>
                    <li><a href="{{ path('informations_who') }}">Suivi de mes commandes</a></li>
                </ul>
            </div>
        
            <div class="col-3_md-4_xs-12">
                <p class="title">Aide</p>
                <ul>
                    <li><a href="{{ path('informations_faq') }}">Questions fréquentes</a></li>
                    <li><a href="{{ path('informations_sizeGuide') }}">Guide des tailles</a></li>
                    <li><a href="{{ path('informations_contact') }}">Nous contacter</a></li>
                </ul>
            </div>

			<div class="col-12-center" style="text-align: center;">
				<ul>
					<lien><li></lien>
                </ul> 
			</div>
		</div>
	</div>
	
</footer>